[submodule "dep/DPP"]
	path = dep/DPP
	url = git@github.com:Mishura4/DPP-PRs.git
	branch = coro
[submodule "dep/sol2"]
	path = dep/sol2
	url = git@github.com:ThePhD/sol2.git
[submodule "dep/lua"]
	path = dep/lua
	url = git@github.com:lua/lua.git
	branch = v5.4
[submodule "dep/pfr"]
	path = dep/pfr
	url = https://github.com/boostorg/pfr.git
